@use '../../styles/abstracts/' as *;

.container-caracteristicas {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 160px 240px;/* Añadido para dar margen superior a la imagen */
}

.tab-content-caracteristicas {
    display: none;
    text-align: center;
    width: 500px;
    height: 500px;
    background-size: cover;
    background-position: center;
    margin: 0 auto 50px auto; /* Center the div and add bottom margin */
}
.upper_text_caracteristicas{ 
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    font-size: 'Satoshi-Bold';
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
    span{
        display: block;
    }
}
.content1 {
    background-image: url("@/assets/landing/caracterisiticas_coordinacion.jpg");
    width: 900px;
    height: 700px;
    border-radius: 12px;
    position: relative;
    &_shadow{
        position: absolute;
        display: grid;
        place-content: center;
        bottom: 0;
        height: 100%;
        width: 100%;
        z-index: 10;
        object-fit: cover;
        background: rgba(0, 0, 0, 0.3);
        border-radius: 12px;
    }
    &_img{
        border-radius: 12px 12px 0px 0px;
        background-image: url("@/assets/landing/caracterisiticas_coordinacion.jpg");
        background-size: cover;
        background-position: center;
        width: 500px;
        height: 400px;
    }
    &_span{
        width: 500px;
        background-color: var(--color-white);
        padding: 24px 0px;
        border-radius: 0px 0px 12px 12px;
        font-family: 'Satoshi-Bold';
        font-size: 24px;
    }
}

.content2 {
    background-image: url("@/assets/landing/caracteristicas_fuerza.jpg");
    width: 900px;
    height: 700px;
    border-radius: 12px;
    position: relative;
    &_shadow{
        position: absolute;
        display: grid;
        place-content: center;
        bottom: 0;
        height: 100%;
        width: 100%;
        z-index: 10;
        object-fit: cover;
        background: rgba(0, 0, 0, 0.3);
        border-radius: 12px;
    }
    &_img{
        border-radius: 12px 12px 0px 0px;
        background-image: url("@/assets/landing/caracteristicas_fuerza.jpg");
        background-size: cover;
        background-position: center;
        width: 500px;
        height: 400px;
    }
    &_span{
        width: 500px;
        background-color: var(--color-white);
        padding: 24px 0px;
        border-radius: 0px 0px 12px 12px;
        font-family: 'Satoshi-Bold';
        font-size: 24px;
    }
}

.content3 {
    background-image: url("@/assets/landing/caracteristicas_flexibilidad.jpg");
    width: 900px;
    height: 700px;
    border-radius: 12px;
    position: relative;
    &_shadow{
        position: absolute;
        display: grid;
        place-content: center;
        bottom: 0;
        height: 100%;
        width: 100%;
        z-index: 10;
        object-fit: cover;
        background: rgba(0, 0, 0, 0.3);
        border-radius: 12px;
    }
    &_img{
        border-radius: 12px 12px 0px 0px;
        background-image: url("@/assets/landing/caracteristicas_flexibilidad.jpg");
        background-size: cover;
        background-position: center;
        width: 500px;
        height: 400px;
    }
    &_span{
        width: 500px;
        background-color: var(--color-white);
        padding: 24px 0px;
        border-radius: 0px 0px 12px 12px;
        font-family: 'Satoshi-Bold';
        font-size: 24px;
    }
}

.content4 {
    background-image: url("@/assets/landing/caracteristicas_resistencia.jpg");
    width: 900px;
    height: 700px;
    border-radius: 12px;
    position: relative;
    &_shadow{
        position: absolute;
        display: grid;
        place-content: center;
        bottom: 0;
        height: 100%;
        width: 100%;
        z-index: 10;
        object-fit: cover;
        background: rgba(0, 0, 0, 0.3);
        border-radius: 12px;
    }
    &_img{
        border-radius: 12px 12px 0px 0px;
        background-image: url("@/assets/landing/caracteristicas_resistencia.jpg");
        background-size: cover;
        background-position: center;
        width: 500px;
        height: 400px;
    }
    &_span{
        width: 500px;
        background-color: var(--color-white);
        padding: 24px 0px;
        border-radius: 0px 0px 12px 12px;
        font-family: 'Satoshi-Bold';
        font-size: 24px;
    }
}

.tabs-caracteristicas {
    display: flex;
    justify-content: space-around;
    position: relative; /* Cambiado de absolute a relative */
    margin-top: 20px; /* Añadido para dar margen superior a las pestañas */
    width: 100%;
}

.tab-title-caracteristicas {
    padding: 10px;
    cursor: pointer;
    text-align: left;
    width: calc(25% - 32px); /* Ajusta el ancho para cada pestaña */
    margin: 0 16px; /* Ajusta el margen para reducir el espacio entre pestañas */
    border-top: solid 4px grey;
}

.tabs-caracteristicas_tittle_h3 {
    font-family: 'Satoshi-Regular';
    margin: 10px 0;
    font-weight: normal;
    font-size: 20px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.tab-title-caracteristicas p {
    margin: 0;
    line-height: 22px;
    font-weight: normal;
    font-size: 16px; 
}

.radio-tab-caracteristicas {
    display: none;
}

#tab1:checked ~ .tabs-caracteristicas label[for="tab1"],
#tab2:checked ~ .tabs-caracteristicas label[for="tab2"],
#tab3:checked ~ .tabs-caracteristicas label[for="tab3"],
#tab4:checked ~ .tabs-caracteristicas label[for="tab4"] {
    border-top: solid 4px orange;
}

#tab1:checked ~ .tabs-caracteristicas label[for="tab1"] h3,
#tab2:checked ~ .tabs-caracteristicas label[for="tab2"] h3,
#tab3:checked ~ .tabs-caracteristicas label[for="tab3"] h3,
#tab4:checked ~ .tabs-caracteristicas label[for="tab4"] h3 {
    color: orange;
    font-weight: 500;
    font-size: 26px;
    font-family: 'Satoshi-Bold';
    margin-block-start: 0em;
    margin-block-end: 0em;
}

#tab1:checked ~ .tabs-caracteristicas label[for="tab1"] p,
#tab2:checked ~ .tabs-caracteristicas label[for="tab2"] p,
#tab3:checked ~ .tabs-caracteristicas label[for="tab3"] p,
#tab4:checked ~ .tabs-caracteristicas label[for="tab4"] p {
    font-weight: normal;
    font-size: 18px;
}

#tab1:checked ~ .content1,
#tab2:checked ~ .content2,
#tab3:checked ~ .content3,
#tab4:checked ~ .content4 {
    display: block;
}
