@use '../../styles/abstracts/' as *;

.claim__section{
    width: 100vh;
    padding: 160px 240px;

}

.claim_ttitle1 {
    font-family: 'Satoshi-Light';
    font-weight: 300;
    font-size: 48px;
    
}