@use '../../styles/abstracts/' as *;

.claim__section{
    width: 100%;
    padding: 160px 240px;
    height: auto;
}

.claim__div {
    display: flex;
    justify-content: space-between;
    width:100%;
    gap:96px;
    margin-bottom:32px;
    margin-top: 96px;
    align-items: last baseline;
}

.claim__tittle1 {
    font-family: 'Satoshi-Light';
    font-weight: 300;
    font-size: 48px;  
    margin-block-start: 0em;
}

.claim__tittle2 {
    font-family: 'Satoshi-Regular';
    font-weight: 400;
    font-size: 48px;
    text-align: right;
}

.gotosignup_claim{
    background-color: var(--color-secondary);
    color: var(--color-white);
    font-size: 18px;
    border: 1.5px solid var(--color-fluorescent);
    border-radius: 8px;
    font-family: "Satoshi-Medium";
    padding: 12px 32px;
    float: inline-end;
}

.gotosignup_claim:hover {
    background-color: var(--color-fluorescent);
    border: 1.5px solid var(--color-fluorescent);
    color: var(--color-white);
}