@use '../../styles/abstracts/' as *;

.header {
  font-family: 'Satoshi-Regular';
  height: 100vh;
  width: 100%;
  background-image: url("@/assets/landing/Header_xs.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 3rem;
  padding: 24px 26px;

  @include breakpoint('md') {
    background-image: url("@/assets/landing/Header_md.jpg");
    padding-bottom: 10rem;
    padding-right: 7.5rem;
    padding-left: 7.5rem;
  }

  @include breakpoint('3xl') {
    background-image: url("@/assets/landing/Header_3xl.jpg");
  }

}

.top_nav_web {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landing_logo {
  width: 160px;
  height: auto;

  @include breakpoint('md') {
    width: 200px;
  }

  @include breakpoint('3xl') {
    width: 240px;
  }
}

.topmenu {
  display: none;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  gap: 4rem;
  align-items: center;
  @include breakpoint('md') {
    display: flex;
  }

  &--open {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.85);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
  }
}

.menu_toggle {
  border-style: none;
  appearance: none;
  transition: all ease-in-out 0.3s;
  padding-block: 0px;
  padding-inline: 0px;
  position: absolute;
  background-color: transparent;
  color: white;
  top: 0;
  right: 0;
  padding: 12px;
  margin: 12px;
  z-index: 10;
  display: block;
  font-size: 32px;
  @include breakpoint('md') {
    display: none;
  }
}

.nav_menu{
  width: 100%;
  order: 2;
  @include breakpoint('md'){
    width: auto;
    height: auto;
    order: 1;
  }
}
.nav_links {
  width: 100%;
  list-style-type: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-direction: column;
  gap: 12px;

  @include breakpoint('md') {
    justify-content: flex-end;
    flex-direction: row;
    gap: 4rem;
  }
}

.nav_item {
  font-size: 1.375rem;
  font-weight: medium;
  color: var(--color-white);
  padding: 0.25rem;

  @include breakpoint('md') {
    font-size: 1.375rem;
  }
}

.nav_items_links {
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
}

.buttons_app {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 2rem;
  order: 1;
  @include breakpoint('md') {
    flex-direction: row;
    order: 2;
  }
}

.container_header {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 48px;

  @include breakpoint('md') {
    flex-direction: column;
    ustify-content: flex-end;
    padding-bottom: 80px;
  }

  @include breakpoint('3xl') {
    flex-direction: column;
    ustify-content: flex-end;
    padding-bottom: 128px;
  }
}

.container_header_text {
  width: 80%;

  @include breakpoint('md') {
    width: 40%;
  }
  @include breakpoint('3xl') {
    width: 30%;
  }
}

.title_header {
  font-weight: 700;
  font-family: 'Satoshi-Bold';
  color: #ffffff;
  line-height: 1.1em;
  letter-spacing: -1.44px;
  padding: 0px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-size: 32px;

  @include breakpoint('md') {
    font-size: 48px;
  }
  
  @include breakpoint('3xl') {
    font-size: 88px;
  }

}

.text_header {
  font-size: 24px;
  font-family: 'Satoshi-Regular';
  color: #ffffff;
  line-height: 1.1em;
  padding: 0px;

  @include breakpoint('md') {
    font-size: 26px;
  }

  @include breakpoint('3xl') {
    font-size: 32px;
  }


}

.container_btn {
  width: auto;
}

.btn_header {
  position: relative;
  background-color: var(--color-fluorescent);
  border-color: none;
  color: white;
  border-radius: 8px;
  box-shadow: none;
  border-width: 0px;
  font-size: 18px;
  padding: 14px 26px;

  @include breakpoint('md') {
    font-size: 18px;
    padding: 16px 32px;
  }
  @include breakpoint('3xl') {
    font-size: 24px;
    padding: 20px 64px;
  }

  
}

.signup_web {
  background-color: var(--color-white);
  color: var(--color-fluorescent);
  font-size: 16px;
  border: 1.5px solid var(--color-secondary-dark);
  border-radius: 8px;
  font-family: "Satoshi-Medium";
  padding: 12px 32px;
}

.signup_web:hover {
  background-color: var(--color-fluorescent);
  border: 1.5px solid var(--color-fluorescent);
  color: var(--color-white);
}

.login_web {
  background-color: var(--color-secondary);
  color: var(--color-white);
  font-size: 16px;
  border: 1.5px solid var(--color-fluorescent);
  border-radius: 8px;
  font-family: "Satoshi-Medium";
  padding: 12px 32px;
}

.login_web:hover {
  background-color: var(--color-fluorescent);
  border: 1.5px solid var(--color-fluorescent);
}



