@use '../../styles/abstracts/' as *;

.header {
    font-family: 'Satoshi-Regular';
    height: 100vh;
    width: 100%;
    background-image: url("@/assets/landing/Header_xs.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 3rem;
    padding-bottom: 10rem;
    padding-right: 7.5rem;
    padding-left: 7.5rem;
    @include breakpoint('md'){
        background-image: url("@/assets/landing/Header_md.jpg");
    }
    @include breakpoint('3xl'){
        background-image: url("@/assets/landing/Header_3xl.jpg");
    }
}

.topmenu {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  gap: 4rem;
}
.top_nav_web{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.landing_logo{
    width: 160px;
    height: auto;
    @include breakpoint('md'){
        width: 200px;
    }
    @include breakpoint('3xl'){
        width: 240px;
    }
}
.nav_links {
  list-style-type: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 4rem;
}

.buttons_app {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 2rem;
}
.container_header {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 48px;
}

.container_header_text {
  width: 30%;
 
}

.nav_item {
  font-size: 1.375rem;
  font-weight: medium;
  color: var(--color-white);
  padding: 0.25rem;
}

.nav_items_links {
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
}

button .login_web {
  font-size: 1.375rem;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 32px;
  padding-left: 32px;
}

button .signup_web {
  font-size: 1.375rem;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 32px;
  padding-left: 32px;
}

.title_header {
  font-size: 72px;
  font-weight: 700;
  font-family: 'Satoshi-Bold';
  color: #ffffff;
  line-height: 1.1em;
  letter-spacing: -1.44px;
  padding: 0px;
  margin-block-start:0em;
  margin-block-end:0em;
}

.text_header{
  font-size: 32px;
  font-family: 'Satoshi-Regular';
  color: #ffffff;
  line-height: 1.1em;
  padding: 0px;
}

.container_btn {
  width: auto;
}

.btn_header {
  position: relative;
  padding: 18px 72px;
  background-color: var(--color-fluorescent);
  border-color: none;
  color:white;
  border-radius: 8px;
  box-shadow: none;
  border-width: 0px;
  font-size: 24px;

}
.signup_web {
  background-color: var(--color-white);
  color: var(--color-fluorescent);
  font-size: 16px;
  border: 1.5px solid var(--color-secondary-dark);
  border-radius: 8px;
  font-family: "Satoshi-Medium";
  padding: 12px 32px;
}

.signup_web:hover {
  background-color: var(--color-fluorescent);
  border: 1.5px solid var(--color-fluorescent);
  color:var(--color-white);
}


.login_web {
  background-color: var(--color-secondary);
  color: var(--color-white);
  font-size: 16px;
  border: 1.5px solid var(--color-fluorescent);
  border-radius: 8px;
  font-family: "Satoshi-Medium";
  padding: 12px 32px;
}

.login_web:hover {
  background-color: var(--color-fluorescent);
  border: 1.5px solid var(--color-fluorescent);

}


