@use '../../styles/abstracts/' as *;


.slider {
    width: 100%;
    height: 100vh; /* Ocupa toda la altura de la ventana */
    margin: auto;
    overflow: hidden;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 400%;
    height: 100%;
    animation: cambio 32s infinite alternate linear;
}

.slider li {
    width: 100%;
    list-style: none;
    position: relative;
    height: 100%;
}

.slide1, .slide2, .slide3, .slide4 {
    width: 100%;
    height: 700px;
    background-size: cover;
    background-position: center;
    display: flex; /* Añadido */
    justify-content: flex-end; /* Añadido */
    align-items: flex-start; /* Añadido */
}

.slider .slide1 {
    background-image: url("@/assets/landing/slide_1_3xl.jpg");
}

.slider .slide2 {
    background-image: url("@/assets/landing/slide_2_3xl.jpg");
}

.slider .slide3 {
    background-image: url("@/assets/landing/slide_3_3xl.jpg");
}

.slider .slide4 {
    background-image: url("@/assets/landing/slide_4_3xl.jpg");
}

.text {
    position: relative;
    padding: 160px 120px;
    width: 75vh;    
    color: white;
    text-align: left; /* Cambiado de left a right */
}

.text h3 {
    margin: 0;
    font-size: 36px;
    text-transform: uppercase;

}

.text p {
    margin: 10px 0 0;
    font-size: 20px;
    line-height: normal;
}

@keyframes cambio {
    0% { margin-left: 0; }
    20% { margin-left: 0; }

    25% { margin-left: -100%; }
    45% { margin-left: -100%; }

    50% { margin-left: -200%; }
    70% { margin-left: -200%; }

    75% { margin-left: -300%; }
    100% { margin-left: -300%; }
}
