@import '../../styles/abstracts/';

.profile__content{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.profile__content__user{
    display: grid;
    place-content: center;
}
.profile__content__img{
    border-radius: 50%;
    padding: 6px 12px;
}
.profile__content__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -18px;
    gap: 8px;
}
.profile__content__name{
    font-family: 'Satoshi-Bold';
    background-color: var(--color-white);
    border: 1px solid var(--color-secondary);
    padding: 6px 12px;
    border-radius: 8px;
    font-size: 16px;
}
.profile__content__name:hover{
    cursor: pointer;
}
.profile__options_group{
    display: flex;
    flex-direction: column;
}