.filter-container {
    .filter-modal {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%; // Ajusta según sea necesario
      max-width: 1468px;
      max-height: 878px;
      background-color: #ffffff;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
      border-radius: 8px;
      z-index: 1000;
  
      .filter-modal-content {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
  
        .filter-modal-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid #e0e0e0;
          padding-bottom: 10px;
  
          .filter-modal-title {
            font-size: 24px;
            font-weight: bold;
          }
  
          .filter-modal-close-button {
            background: none;
            border: none;
            font-size: 24px;
            cursor: pointer;
          }
        }
  
        .filter-modal-body {
          flex-grow: 1;
          overflow-y: auto;
          padding: 20px 0;
  
          .filter-section {
            margin-bottom: 20px;
  
            .filter-section-title {
              font-size: 20px;
              font-weight: bold;
              margin-bottom: 10px;
            }
  
            .filter-option-group {
              display: flex;
              flex-wrap: wrap;
              gap: 10px;
  
              label {
                display: flex;
                align-items: center;
                font-size: 16px;
  
                input {
                  margin-right: 8px;
                }
              }
            }
          }
        }
  
        .filter-modal-footer {
          display: flex;
          justify-content: flex-end;
          gap: 10px;
  
          .filter-modal-button {
            padding: 10px 20px;
            font-size: 16px;
            font-weight: medium;
            border: none;
            border-radius: 4px;
            cursor: pointer;
  
            &:first-of-type {
              background-color: white;
              color: #000;
              border: 1px solid #ffa238;
            }
  
            &:last-of-type {
              background-color: #ff662d;
              color: #fff;
            }
          }
        }
      }
    }
  }