:root{
    --color-primary: hsl(32, 100%, 61%);
    --color-primary-light: hsl(32, 94%, 88%);
    --color-primary-10: hsla(32, 100%, 61%, 0.05);
    --color-secondary: #ff662d;
    --color-secondary-dark: #d45425;
    --color-primary-fluorescent: rgb(230, 61, 0);
    --color-white: hsl(0, 0%, 100%);
    --color-black: hsl(0, 0%, 0%);
    --color-gray-border: hsla(0, 0%, 0%, 0.2);
}