.divider {
    font-family: "Satoshi-Light";
    display: flex;
    align-items: center;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.divider::before,
.divider::after {
    flex: 1;
    content: "";
    border: 0.6px solid var(--color-primary);
    background-color: var(--color-primary);
    margin: auto 10px;
}

.color-brand {
    fill: var(--color-primary);
    color: var(--color-primary);
}

.logowordmark_icon_hover_pointer:hover{
    cursor: pointer;
}