@import './base';

* {
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Satoshi-Regular';
    font-size: 16px;
}

.container__center{
    height: 100svh;
    width: auto;
    display: grid;
    place-content: center;
    background-color: white;
}