@import '../../styles/abstracts/';

.configuration__options{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
    @include breakpoint('md'){
        gap: 48px;
    }
    &_group{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
.always_info{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.configuration__option{
    width: 100%;
    border-bottom: 1px solid var(--color-gray-border-light);
    padding: 6px 12px 6px 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    &_tittle{
        font-family: 'Satoshi-Medium';
        font-weight: 500;
        font-size: 18px;
        margin-block-start: 1em;
        margin-block-end: 1em;
    }
    &_svg{
        height: 24px;
        width: 24px;
        transition: all ease-in-out 0.25s;
        &__active{
            transform: rotate(90deg);
        }
    }
}

.option_info{
    font-family: 'Satoshi-Regular';
    width: 100%;
    height: 0px;
    font-size: 0px;
    display: flex;
    flex-direction: column;

    &__active{
        height: auto;
        p{
            margin-block-start: 0em;
            margin-block-end: 0em;
            transition: all ease-in-out 0.25s;
            font-size: 16px;
        }
        margin-bottom: 8px;
    }
}
.option_info__text{
    padding-bottom: 16px;
}