@use '../../styles/base' as *;
.step{
    display: flex;
    flex-direction: column;
    gap:16px;
    height: 40%;
    width: auto;
    height: auto;
}
.step__option{
    background-color: #ffffff;
    padding: 12px 16px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    @include gradient-border(1px, 12px);
    input{
      appearance: none;
      color: currentColor;
      width: 1em;
      height: 1em;
      background-color: var(--color-primary-light);
      border-radius: 0.15em;
    }
    input:hover{
      cursor: pointer;
    }
    input:checked{
      background-color: var(--color-primary);
    }

}
.step__option:hover{
    cursor: pointer;
}
.step__input{
  padding: 12px 16px;
  @include gradient-border(1px, 12px);
}
.step__input:focus{
  outline: none;
}
.disabled {
    background-color: #ececec; /* Change to the desired shade of gray */
    color: var(--color-primary-fluorescent);
}
.step__input::placeholder{
    color: black;
}

.two-columns {
    display: flex;
    gap:16px;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    gap:16px;
    width: 100%;
  }
  
  @media (max-width: 768px) {
    .two-columns {
      flex-direction: column;
    }
  }

