@use '../../styles/base' as *;

.weight_and_height{
    display: flex;
    flex-direction: column;
    gap: 16px;

}
.weight_and_height__question{
    color: var(--color-white);
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-family: 'Satoshi-Bold';
    font-size: 28px;
}
.weight_and_height__input{
    width: 100%;
    background-color: transparent;
    font-family: 'Satoshi-Bold';
    padding: 12px 16px;
    display: inline-flex;
    border: 1px solid var(--color-white);
    border-radius: 14px;
    input{
        width: 50%;
        color: var(--color-white);
        appearance: none;
        -moz-appearance: textfield;
        background-color: transparent;
        border: none;
        text-align: end;
        font-family: 'Satoshi-Bold';
        font-size: 16px;
    }
    input::placeholder{
        color: white;
    }
    input:focus-visible{
        outline: none;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: textfield;
    }
    p{
        width: 50%;
        margin-block-start: 1px;
        margin-block-end: 0em;
        font-size: 16px;
        color: var(--color-white);
        
    }
}
.weight_and_height__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
.weight_and_height__input:focus-visible{
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}
.weight_and_height__field{
    display: flex;
    flex-direction: column;
    gap: 16px
}
.weight_and_height__imc{
    font-family: 'Satoshi-Medium';
    background-color: rgba(255, 255, 255, 0.18);
    padding: 18px 16px;
    border-radius: 14px;
    color: var(--color-white);
    font-size: 18px;
    margin-top: 16px;
    p{
        margin-block-start: 0em;
        margin-block-end: 0em;
    }
}