@import '../../styles/abstracts/';

.submit_button_option{
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 1.2em 0px;
    font-size: 16px;
    font-family: 'Satoshi-Medium';
    font-weight: 500;
    font-size: 18px;
    border-bottom: 1px solid #E6E6E6;

}