@import '../styles/base';


.btnIcon{
    padding: 10px 10px;
    border-radius: 12px;
    width: max-content;
    font-family: 'Satoshi-Medium';
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    transition: color 0.15s;
    &:hover {
        .icon {
          fill: white;
        }
      }
      
      .icon {
        fill: var(--color-secondary);
        transition: color 0.15s;
      }
    @include breakpoint('md'){
      padding: 12px 12px;
    }
}
.btnIcon:hover{
    background-color: var(--color-primary);
    cursor: pointer;
}
.primary{
    background-color: var(--color-secondary);
    color: white;
    font-size: 16px;
    border: 1.5px solid var(--color-secondary-dark);
    border-radius: 8px;
    font-family: 'Satoshi-Medium';
}

.full{
width: 100%;
text-align: center;

}
.primary:hover{
    background-color: var(--color-white);
    color: var(--color-secondary-dark);
}

.borderGradient{
    @include gradient-border(1.5px, 12px, var(--color-white));
    &:hover {
        &_fill {
          fill: white;
          color: white;
        }
      }   
}
.borderGradient:hover{
    @include gradient-border(1.5px, 12px, transparent);
    color: white;
}
.disabled{
    background-color: var(--color-secondary-light);
    border: 2px solid var(--color-secondary-dark-disabled);
    color: var(--color-white);
}
.disabled:hover{
    background-color: var(--color-secondary-light);
    cursor: default;
}
.routine_cta{
  height: min-content;
  color: white;
  @include gradient-border(1.5px, 8px, transparent);
  padding: 10px 16px;
  font-size: 13px;
}
.routine_cta:hover{
  background-image: none;
  background-color: transparent;
  border: 1px solid white;
  color: white;
}
.primary_opposite{
  background-color: var(--color-white);
  color: var(--color-secondary-dark);
  font-size: 16px;
  border: 1.5px solid var(--color-secondary-dark);
  border-radius: 8px;
  font-family: 'Satoshi-Medium';
  font-weight: 500;
}
.primary_opposite:hover{
  background-color: var(--color-secondary-light);
  color: var(--color-white);
}