@import '../styles/base';

.inputIcon__container{
    width: 100%;
    @include generateBreakpoints(('sm','md', '2xl'), 'padding', 16px 20px, 16px 24px, 24px 32px);
    padding: 12px 16px;
    border: 1px solid var(--color-primary);
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    transition: padding 0.5s;
}
.input__field{
    width: 100%;
    border: none;
    color: var(--color-black);
    font-family: 'Satoshi-Regular';
    font-size: 14px;
    @include breakpoint('small') {
        font-size: 16px;
    }
}
.input__field::placeholder{
    color: var(--color-black);
}
.input__field:focus-visible{
    outline: none;
}
