@use '../styles/base' as *;

.sidebar{
    height: auto;
    width: 100vw;
    position: fixed;
    z-index: 100;
    overflow: auto;
    bottom: 0;
    border-top: 1px solid var(--color-gray-border);
    background-color: var(--color-white);
    transition: all 0.2s;
    padding: 12px 12px;
    @include breakpoint('sm'){
        position: fixed;
        bottom: 0;
        display: flex;
        flex-direction: row;
    }
    @include breakpoint('xl'){
        height: 100vh;
        display: flex;
        flex-direction: column;
        gap: 48px;
        padding: 40px 32px;
        width: 250px;
        border-right: 1px solid var(--color-gray-border);
    }
    @include breakpoint('2xl'){
        height: 100vh;
        display: flex;
        flex-direction: column;
        gap: 64px;
        padding: 40px 32px;
        width: 300px;
    }
    &__training{
        @include breakpoint('md'){
            height: auto;
            width: 100vw;
            overflow: auto;
            position: fixed;
            bottom: 0;
            display: flex;
            flex-direction: row;
            padding: 12px 12px;
        }
        @include breakpoint('lg'){
            height: 100vh;
            display: flex;
            flex-direction: column;
            gap: 48px;
            padding: 40px 32px;
            width: 250px;
            border-right: 1px solid var(--color-gray-border);
        }
        @include breakpoint('2xl'){
            height: 100vh;
            display: flex;
            flex-direction: column;
            gap: 64px;
            padding: 40px 32px;
            width: 300px;
        }
    }
}
.sidebar__user{
    display: none;
    @include breakpoint('xl'){
        display: grid;
        place-content: center;
    }
    &__training{
        @include breakpoint('md'){
            display: none;
        }
        @include breakpoint('lg'){
            display: grid;
        place-content: center;
        }
    }
}
.profile__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -18px;
    gap: 8px;
}
.profile__name{
    font-family: 'Satoshi-Bold';
    background-color: var(--color-white);
    border: 1px solid var(--color-secondary);
    padding: 6px 12px;
    border-radius: 8px;

}
.sidebar__bar{
    list-style-type: none;
    margin-block-start: 0em;
    padding-inline-start: 0px;
    margin-block-end: 0em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 9px;
    transition: all 0.2s;
    gap: 18px;
    @include breakpoint('xs'){
        font-size: 10px;
    }
    @include breakpoint('sm'){
        font-size: 12px;
    }
    @include breakpoint('xl'){
        flex-direction: column;
        gap: 12px;
        font-size: 15px;
        justify-content: space-between;
    }
    @include breakpoint('2xl'){
        flex-direction: column;
        gap: 16px;
        font-size: 18px;
        justify-content: space-between;
    }
    &__training{
        @include breakpoint('md'){
            flex-direction: row;
            justify-content: center;
            font-size: 9px;
            gap: 18px;
        }
        @include breakpoint('lg'){
            flex-direction: column;
            gap: 12px;
            font-size: 15px;
            justify-content: space-between;
        }
        @include breakpoint('2xl'){
           
        }
    }
}
.sidebar_bar_option{
    a{
        color: var(--color-black);
        text-decoration: none;
        padding: 10px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2px;
        margin: auto;
        font-size: 0px;
        svg{
            margin-left: auto;
            margin-right: auto;
        }
        @include breakpoint('sm'){
            gap: 4px;            
            font-size: 12px;
        }
        @include breakpoint('xl'){
            font-size: 16px;
            flex-direction: row;
            gap: 8px;
            padding: 6px 12px;
            svg{
                margin-left: 0px;
                margin-right: 0px;
            }
        }
        @include breakpoint('2xl'){
            flex-direction: row;
            padding: 12px 24px;
            svg{
                margin-left: 0px;
                margin-right: 0px;
            }
        }
    }
    a:hover{
        background-color: var(--color-primary-light);
        border-radius: 8px;
    }
    a.active{
        background-color: var(--color-primary-light);
        border: 1px solid var(--color-secondary);
        border-radius: 8px;
        font-family: 'Satoshi-Medium';
    }
    a .active:hover{
        margin-bottom: 0px;
        cursor: default;
    }
    &__training{
        a{
            @include breakpoint('md'){
                flex-direction: column;
                font-size: 16px;
            }
            @include breakpoint('lg'){
                flex-direction: row;
                gap: 8px;
                padding: 6px 12px;
                svg{
                    margin-left: 0px;
                    margin-right: 0px;
                }
            }
        }
    }
}
.hidden_option{
    display: none;
    @include breakpoint('md'){
        display: block;
    }
}
.profile_img{
    border-radius: 50%;
    padding: 6px 12px;
}
.sidebar__icon{
    height: 24px;
    width: 24px;
}
.sidebar__exit{
    display: none;
    font-family: 'Satoshi-Regular';
    font-size: 16px;
    background-color: var(--color-white);
    padding-block: 0px;
    padding-inline: 0px;
    border-width: 0px;
    border-style: none;
    padding: 6px 12px;
    color: var(--color-black);
    text-decoration: none;
    gap: 12px;
    @include breakpoint('2xl'){
        padding: 12px 24px;
    }

    &:hover{
        @include breakpoint('xl'){

            background-color: var(--color-primary-light);
            cursor: pointer;
        }
    }
    @include breakpoint('xl'){
        display: flex;
        align-items: center;
        width: calc(250px - 64px);
        margin-bottom: 16px;
        position: fixed;
        bottom: 0;
        display: flex;
        border-radius: 8px;

    }
    @include breakpoint('xl'){
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        gap: 8px;
    }
    @include breakpoint('2xl'){
        display: flex;
        align-items: center;
        margin-bottom: 64px;
        width: calc(300px - 64px);
    }
    &__training{
        display:none;
        &:hover{
            @include breakpoint('lg'){
    
                background-color: var(--color-primary-light);
                cursor: pointer;
            }
        }
        @include breakpoint('lg'){
            display: flex;
            align-items: center;
            width: calc(250px - 64px);
            margin-bottom: 16px;
            position: fixed;
            bottom: 0;
            display: flex;
            border-radius: 8px;
    
        }
    }
}