@import '../styles/abstracts';

.top_up{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
    width: 100%;
}
.welcome{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .notification-container{
        display: none;
        @include breakpoint('md'){
            display: inline;
        }
    }
    #workout{
        display: none;
        @include breakpoint('md'){
            display: inline;
        }
    }
}

.top_bar__user{
    display: grid;
    place-content: center;
    border-radius: 50%;
    @include breakpoint('md'){
        display: none;
    }
}
.top_bar__img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.top_bar__info{
    display: none;
    margin-top: -18px;
    gap: 8px;
    @include breakpoint('md'){
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.top_bar__name{
    display: none;
    font-family: 'Satoshi-Bold';
    background-color: var(--color-white);
    border: 1px solid var(--color-secondary);
    padding: 6px 12px;
    border-radius: 8px;
}