@import '../styles/abstracts';

.top_up{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 24px;
    @include breakpoint('sm'){
        margin-bottom: 32px;
    }
}
.top__bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    width: 100%;

    @include breakpoint('sm'){
        margin-bottom: 32px;
    }
    @include breakpoint('md'){
        display: none;
    }
}
.welcome{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include breakpoint('sm'){
        width: 70%;
        gap: 16px;
    }
    &__left{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
    }
}
.welcome__bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top_bar__user{
    display: grid;
    place-content: center;
    border-radius: 50%;
    @include breakpoint('xl'){
        display: none;
    }
}
.top_bar__img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.top_bar__info{
    display: none;
    margin-top: -18px;
    gap: 8px;
    @include breakpoint('md'){
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.top_bar__icons{
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.wordmark{
        width: 140px;
        min-height: 24.5px;
        @include breakpoint('md'){
            width: 180px;
            height: auto;
        }   
}
.wordmark__desktop{
    width: 100px;
    height: auto;
    display: none;
    @include breakpoint('md'){
        display: block;
    }
    @include breakpoint('md'){
        width: 180px;
    }
}
.top_bar__greeting{
    display: block;
    @include breakpoint('md'){
        display: none;
    }
}
.top_bar__greeting__desktop{
    display: none;
    @include breakpoint('md'){
        display: block;
    }
}
.ntf_btn{
    button{
        width: 40px;
        height: 40px;
    }
}
.ntf_btn__desktop{
    display: none;
    @include breakpoint('md'){
        display: block;
    }

}

.workout_btn{
    button{
        width: 40px;
        height: 40px;
    }
    @include breakpoint('sm'){
        button{
            width: auto;
            height: 40px;
        }
    }
}

.workout_btn__desktop{
    display: none;
    @include breakpoint('md'){
        display: block;
    }

}
.top_bar__name{
    display: none;
    font-family: 'Satoshi-Bold';
    background-color: var(--color-white);
    border: 1px solid var(--color-secondary);
    padding: 6px 12px;
    border-radius: 8px;
}