@import '../styles/base';

.greeting {
    font-family: 'Satoshi-Bold';
    font-size: 20px;
    @include generateBreakpoints(('xs','md','xl'), 'font-size',24px, 24px, 28px);
    margin-block-start: 0em;
    margin-block-end: 0em;
}
