@import '../styles/base';

.greeting {
    font-family: 'Satoshi-Bold';
    &--sm {
        font-size: 20px;
    }
    &--md {
        font-size: 26px;
    }
    &--lg {
        font-size: 32px;
    }
}
