@import '../styles/base';

.greeting {
    font-family: 'Satoshi-Medium';
    font-weight: 500;
    font-size: 18px;
    @include generateBreakpoints(('xs','md','xl'), 'font-size',20px, 24px, 28px);
    margin-block-start: 0em;
    margin-block-end: 0em;
}
