@use '../../styles/abstracts/' as *;

.header_routine{
    height: auto;
    width: 100%;
    background-image: url("@/assets/routine_header.png");
    object-fit: cover;
    background-repeat: no-repeat;
    padding: 24px;
    padding-bottom: 46px;
    @include breakpoint('md'){
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding: 48px 48px 54px 48px;
    }
    @include breakpoint('lg'){
        gap: 42px;
        padding: 58px 50px 62px 50px;
    }
}
