@use '../../styles/abstracts/' as *;

.routine_content{
    margin-top: -22px;
    background-color: var(--color-white);
    height: auto;
    width: 100%;
    padding: 22px 24px 0px 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    @include breakpoint('md'){
        padding: 22px 25px 22px 50px;
        gap: 20px;
    }
    @include breakpoint('lg'){
        padding: 22px 25px 0px 50px;
        gap: 20px;
    }
    border-radius: 22px 22px 0px 0px;
}
.display_none{
    display: none;
}
.working_zones{
    height: auto;
    @include breakpoint('md'){
        gap: 20px;
    }
}
.routine__info_images{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1px;
    padding: 16px 16px 0px 16px;
    @include breakpoint('lg'){
        gap: 150px;
    }
}
.routine__body_img{
    height: auto;
    width: calc(40% - 20px);
    background-repeat: no-repeat;
    @include breakpoint('md'){
        height: 350px;
        width: auto;
    }
    @include breakpoint('lg'){
        height: 400px;
        width: auto;
    }
}
