@import '../../styles/abstracts';

.exercise_frame {
  height: inherit;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
  border-radius: 12px;
  color: var(--color-white);
  @include breakpoint('lg') {
    width: 45%;
    padding: 16px 22px;
    color: var(--color-black);
    background-color: var(--color-white);
    gap: 10px;
  }

  &__name {
    font-size: 26px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    
    @include breakpoint('3xl') {
      font-size: 32px;
    }
  }


  &__video_container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 8px;
    @include breakpoint('md') {
        height: 450px;
      }
  }

  &__video {
    width: 100%;
    height: 250px;
    border-radius: 12px;
    object-fit: cover;
    @include breakpoint('xs') {
      height: 350px;
    }
    @include breakpoint('sm') {
      height: 100%;
    }
  }

  &__play_icon {
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    height: 40px;
    width: 40px;
    @include breakpoint('md') {
      top: calc(50% - 20px);
      left: calc(50% - 20px);
      height: 40px;
      width: 40px;
    }
    fill: var(--color-white);
    transition: all ease-in-out 0.1s;
    transition: opacity ease-in-out 0.25s;
    filter: drop-shadow(0px 0px 3px hsla(0, 0%, 0%, 0.4));
    &__active {
      opacity: 0;
    }
  }
  &__play_icon:hover {

    top: calc(50% - 21px);
    left: calc(50% - 21px);
    height: 32px;
    width: 32px;
    @include breakpoint('md') {
        top: calc(50% - 21px);
        left: calc(50% - 21px);
        height: 42px;
        width: 42px;
    }
    cursor: pointer;
  }
  &__share_icon {
    position: absolute;
    top: 16px;
    left: 22px;
    height: 30px;
    width: 30px;
    fill: var(--color-white);
    transition: all ease-in-out 0.1s;
    transition: opacity ease-in-out 0.25s;
    filter: drop-shadow(0px 0px 3px hsla(0, 0%, 0%, 0.4));
    &__active {
      opacity: 0;
    }
  }
  &__share_icon:hover {
    top: 15px;
    left: 21px;
    height: 32px;
    width: 32px;
    cursor: pointer;
  }
  &__favorites_icon {
    position: absolute;
    top: 16px;
    right: 22px;
    height: 30px;
    width: 30px;
    fill: var(--color-white);
    transition: all ease-in-out 0.1s;
    transition: opacity ease-in-out 0.25s;
    filter: drop-shadow(0px 0px 3px hsla(0, 0%, 0%, 0.4));
    &__active {
      opacity: 0;
    }
  }
  &__favorites_icon:hover {
    top: 15px;
    right: 21px;
    height: 32px;
    width: 32px;
    cursor: pointer;
  }
}
