@import '../abstracts';

.main_home{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    height: fit-content;
    padding: 22px 24px;
    padding-bottom: 96px;
    @include breakpoint('xl'){
        padding-left: 282px;
        padding-right: 32px;
        padding-bottom: 16px;
    }
    @include breakpoint('2xl'){
        padding-left: 332px;
    }
}
.components{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    @include breakpoint('md'){
        flex-direction: row;
        gap: 32px;
    }
}
.components_top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap:24px;
    margin-top: 32px;
    @include breakpoint('md'){
        gap: 48px;
    }
}
.components_right_top{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 16px;
    .calendar-container{
        display: none;
        @include breakpoint('md'){
            display: flex;
        }
    }
}
.components_left{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    @include breakpoint('md'){
        width: 60%;
        gap:16px;
    }
}
.components_right{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap:24px;
    @include breakpoint('md'){
        width: 40%;
        gap:16px;
    }
    
}